[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
watchdog = "*"
pymongo = "*"
requests = "*"
crcmod = "*"
qrcode = "*"
pixqrcodegen = "*"

[dev-packages]

[requires]
python_version = "3.11"
